body {
    margin: 0;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: white;  
}
p {
    color: white;
}
h2 {
    color: white;
}
header{
    padding: 40px;
    text-align: center;
}
main{
    padding: 30px;
}